
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="params-tab" data-bs-toggle="tab" data-bs-target="#params" type="button" role="tab" aria-controls="params" aria-selected="true">Params</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="auth-tab" data-bs-toggle="tab" data-bs-target="#auth" type="button" role="tab" aria-controls="auth" aria-selected="false">Auth</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="headers-tab" data-bs-toggle="tab" data-bs-target="#headers" type="button" role="tab" aria-controls="body" aria-selected="false">Headers</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="reqBody-tab" data-bs-toggle="tab" data-bs-target="#reqBody" type="button" role="tab" aria-controls="body" aria-selected="false">Axios Req Body</button>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    


<!-- 1.Params section -->
    <div class="tab-pane show active" id="params" role="tabpanel" aria-labelledby="params-tab">
        
      <!-- The first param -->
      <div class=" container m-2" id="firstParam">
        <input type="text" placeholder="Key" class="styl-input" name="paramKey">
        <input type="text" placeholder="Value" class="styl-input" name="paramValue">
      </div>

      <!-- Extra-new params container -->
      <div id="newParamsContainer"></div>

      <!-- Button to add new param -->
      <a class="btn btn-outline-success m-3" id="addParamBtn">Add</a>

    </div>
        


<!-- 2.Auth section -->
    <div class="tab-pane" id="auth" role="tabpanel" aria-labelledby="auth-tab">
        
        Auth
    
    </div>
    


<!-- 3.Headers section -->
    <div class="tab-pane" id="headers" role="tabpanel" aria-labelledby="headers-tab">
        
      <!-- The first param -->
      <div class=" container m-2" id="firstHeader">
        <input type="text" placeholder="Key" class="styl-input" name="headerKey">
        <input type="text" placeholder="Value" class="styl-input" name="headerValue">
      </div>

      <!-- Extra-new params container -->
      <div id="newHeadersContainer"></div>

      <!-- Button to add new param -->
      <a class="btn btn-outline-success m-3" id="addHeaderBtn">Add</a>
      
    
    </div>



<!-- Req Bodysection  -->
    <div class="tab-pane" id="reqBody" role="tabpanel" aria-labelledby="reqBody-tab">
        
        Axios
    
    </div>
  
</div>
