
<div class="json-displayer shadow">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, non eaque laudantium deleniti itaque voluptas officiis, suscipit quidem aut, quasi libero. Autem ea dolore, soluta, voluptate quisquam, nihil dolorum ipsum similique qui cupiditate rerum nesciunt? Corporis amet ab modi libero sapiente distinctio eveniet ratione omnis reiciendis earum ipsum, odio et.</p>
</div>
