/*  GOOGLE FONTS 
font-family: 'Monoton', cursive; -> for title
font-family: 'Roboto Mono', monospace; -> for normal text
*/


.json-displayer{
    background-color: aliceblue;
    padding: 1rem;
    border-radius: 1rem;
    margin-top: 2rem;
}

.nav.nav-tabs{
    margin-top: 2rem;
    padding: 1rem;
    padding-bottom: 0;
    border-radius: 0.5rem 0.5rem 0 0;
    background-color: aliceblue;
}

.tab-pane{
    background-color: white;
    border-radius: 0 0 0.5rem 0.5rem;
    padding: 2rem;
}